body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	color: black;
	font-size: 1rem;
	margin: 1rem;
	background: white;
}
.outer {
	max-width: 640px;
	margin: 0 auto;
}
a {
	color: black;

}
h1 {
	text-align: center;
	margin: 0 0 0.5rem;
}
h1 a {
	text-decoration: none;
}
nav {
	display: flex;
	justify-content: space-around;
	margin-bottom: 2rem;
}
nav a,
nav span,
nav strong {
	font-size: 0.75rem;
	text-transform: uppercase;
}

#canvasContainer canvas {
	display: inline-block;
	background: #000;
	border: 2px solid #a80000;
	max-width: 100%;
}
.ctrl {
	margin: 1em 0 2em;
	overflow: hidden;
}
.ctrl-left {
	float: left;
}
.ctrl-right {
	text-align: right;
	float: right;
}
button {
	padding: 4px 8px;
}
p {
	margin-bottom: 1em;
	line-height: 1.3;
}
p code {
	background: #f5f2f0;
	border-radius: 0.25rem;
	border: 1px solid #ccc;
	padding: 0.125rem 0.25rem;
}
pre {
	background: #f5f2f0;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	color: black;
	padding: 1em 1em 0;
	margin: 2em 0;
}


/* github corner */
.github-corner svg {
	fill:#151513; color:#fff; position: fixed; top: 0; border: 0; right: 0;
}
.github-corner:hover .octo-arm {
	animation:octocat-wave 560ms ease-in-out
}
@media (max-width:500px) {
	.github-corner:hover .octo-arm{animation:none}
	.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}
}
@keyframes octocat-wave {0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}